<div class="container" %>
  <p>
    <%= @product.image %>
  </p>
  <p>
    <%= @product.name %>
  </p>
  <p>
    <%= @product.description %>
  </p>
  <p>
    <%= @product.price %>
  </p>
  <p>
    <%= @product.categories %>
  </p>
</div>